
.branding > .content-wrapper {
  max-width: $wrapper-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  height: $wrapper-height;
  background-color: $background-color;
  margin-top: 100px;
}

.image {
  margin-left: 0;
}

.image-brand > img {
  width: 450px;
  height: 450px;
  margin-left: 0;
   
}

.brand {
  text-align: left;
  width: 500px;
}

 .brand > h4 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  color: $main-color;
//   margin: 45px 0 55px 0;
}

 .brand > p {
  color: $main-color;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27.5px;
  margin-bottom: 30px;
  width: 410px;
  text-align: left;
  
}

.brand > p:last-of-type {
  display: none;
  text-align: left;
}

.brand > h6 {
      height: 28px;
    color: #272D38;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.5px;
    margin-bottom: 10px;
}

@media (max-width: 720px) {
.branding > .content-wrapper {
flex-wrap: $media-content-wrapper-flex;
height:$media-wrapper-height;
width: $media-wrapper-width;
display: flex;
flex-direction: column-reverse;
}

.branding {
  padding: 0;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: auto 20px;
}

.image {
  display: flex;
  justify-content: center;
}

.brand > h1 {
  margin: 10px 15px 30px 15px;
}

.brand > p {
  text-align: center;
  width: fit-content;
}

.brand > h4 {
  margin-top: 0;
  margin-bottom: 15px;
}

.brand > p:last-child {
  text-align: center;
  visibility:initial;
}
}


