.testimonial-wrapper {
      max-width: $wrapper-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 50px auto;
  // height: 450px;
  
 
}

 .frofile-wrapper {
    max-width: $wrapper-width;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  height: $wrapper-height;
  background-color: $background-color;
}

.testimonial-wrapper > div > h4 {

      font-family: sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  color: $main-color;
  width: 500px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.testimon-item {
    background-color: $background-special-color;
    width: 305px;
    height: 334px;
    margin-right: 10px;
     border-radius: 10px;
}

.testimon-item:last-of-type {
    margin-right: 0;
}

h6 {
    height: 28px;
    color: $main-color;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.5px;
    margin-bottom: 10px;
}

.testimon-item > p {
    color: $main-color;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 18.2px;
}

.testimon-item > div {
    text-align: center;
    margin-top: 32px;
}

.testimon-item > div > img {
    width: 129px;
    height: 130px;
    background-color: $background-color;
    border-radius: 50%;
    
}

@media (max-width: 720px) {

  .testimonial-wrapper > .frofile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:$media-wrapper-height;
width: $media-wrapper-width;

.testimon-item {
  margin-bottom: 20px;
  width: 100%;
   height:$media-wrapper-height;
}
  }
}