
$max-width: 1440px;
$wrapper-width: 1065px;
$wrapper-height: 450px;
// $max-content-width: 1100px;
$header-size: 24px;
$main-color: #272D38;
$background-special-color: #F5F5F5;
$background-color: white;

$media-wrapper-width: auto;
$media-wrapper-height: auto;
$media-content-wrapper-flex: wrap;

$section-padding: 30px 0;
@media-text_part-
